<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
  <title>Document</title>
</head>
<body class="bg-success">
	<div class="container" style="width: 400px;">
    <form class="card px-5 mt-5" th:action="@{/edit-book/} + ${id}" th:object=${book} method="post">
		
      <h1 class="row pt-4 pb-1 h4">Editar livro</h1>
		
      <div class="row pb-3">
        <label class="form-label p-0">Titulo</label>
        <input class="form-text" th:field="*{title}" th:value="${book.title}">
        <p class="text-danger p-0 mb-0" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
      </div>
			
      <div class="row pb-4">
        <label class="form-label p-0">Descrição</label>
        <input class="form-text" th:field="*{description}" th:value="${book.description}">
        <p class="text-danger p-0 mb-0" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
      </div>
			
      <div class="row pb-4">
        <label class="form-label p-0">Categoria</label>
        <select class="form-select" th:field="*{category}">
          <option value="">-- Selecione --</option>
          <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
        </select>
        <p class="text-danger p-0 mb-0" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
      </div>
			
      <div class="row pb-4">
        <button class="col btn btn-primary" type="submit">Enviar</button>
        <div class="col d-flex justify-content-center align-items-center">
          <a class="card-link" th:href="@{/list-books}">Cancelar</a>
        </div>
      </div>

    </form>
  </div>
</body>
</html>
