<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
  <title>Document</title>
</head>
<body class="bg-success">
  <div class="container" style="width: 400px;">
    <form class="card px-5 mt-5" th:action="@{/edit-category/} + ${id}" th:object=${category} method="post">
		
      <h1 class="row pt-4 pb-1 h4">Editar categoria</h1>
		
      <div class="row pb-3">
        <label class="form-label p-0">Nome</label>
        <input class="form-text" th:field="*{name}" th:value="${category.name}">
        <p class="text-danger p-0 mb-0" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
      </div>
			
      <div class="row pb-4">
        <button class="col btn btn-primary" type="submit">Enviar</button>
        <div class="col d-flex justify-content-center align-items-center">
          <a class="card-link" th:href="@{/list-categories}">Cancelar</a>
        </div>
      </div>

    </form>
  </div>
</body>
</html>
